<ion-card>
      <ion-item text-center>
            <avatar [src]="picture" [size]="'large'" (tap)="getPicture()"></avatar>
      </ion-item>
      <ion-item>
            <ion-label color="primary" stacked>First Name</ion-label>
            <ion-input type="text" [(ngModel)]="first_name" placeholder="First" clearInput></ion-input>
      </ion-item>
      <ion-item>
            <ion-label color="primary" stacked>Last Name</ion-label>
            <ion-input type="text" [(ngModel)]="last_name" placeholder="Last" clearInput></ion-input>
      </ion-item>
      <ion-item>
            <ion-label color="primary" stacked>Company</ion-label>
            <ion-input type="text" [(ngModel)]="company" placeholder="Company" clearInput></ion-input>
      </ion-item>
      <ion-item>
            <ion-label color="primary" stacked>Phone</ion-label>
            <ion-input type="tel" [(ngModel)]="phone" placeholder="Phone" clearInput></ion-input>
      </ion-item>
      <ion-item>
            <ion-label color="primary" stacked>Email</ion-label>
            <ion-input type="email" [(ngModel)]="email" placeholder="Email" clearInput></ion-input>
      </ion-item>
      <ion-item>
            <ion-label color="primary" stacked>Notes</ion-label>
            <ion-textarea type="text" [(ngModel)]="notes" placeholder="Notes" clearInput></ion-textarea>
      </ion-item>
      <ion-row>
            <ion-col>
                  <button (tap)="save()" ion-button icon-left clear small>
                        <ion-icon name="paper-plane"></ion-icon>
                        <div>Save</div>
                  </button>
            </ion-col>
            <ion-col>
                  <button (tap)="clear()" ion-button icon-left clear small>
                        <ion-icon name="remove-circle"></ion-icon>
                        <div>Clear</div>
                  </button>
            </ion-col>
      </ion-row>
</ion-card>
