<ion-slides (ionSlideWillChange)="changeSlide()" initialSlide="1" fullscreen>
      <ion-slide>
            <ion-content fullscreen padding-top padding-bottom text-center>
                  <ion-card>
                        <ion-list-header>Menu</ion-list-header>
                  </ion-card>
                  <ion-card *ngIf="configuration">
                        <ion-list>
                              <ion-list-header>Configure</ion-list-header>
                              <ion-item>
                                    <ion-label>Vibrate on Alert</ion-label>
                                    <ion-toggle (tap)="saveConfig()" [(ngModel)]="configuration.vibrateOnAlert"></ion-toggle>
                              </ion-item>
                              <ion-item>
                                    <ion-label>Overwrite on Record</ion-label>
                                    <ion-toggle (tap)="saveConfig()" [(ngModel)]="configuration.overwriteOnRecord"></ion-toggle>
                              </ion-item>
                              <ion-item>
                                    <ion-label>Save Avatars to Album</ion-label>
                                    <ion-toggle (tap)="saveConfig()" [(ngModel)]="configuration.saveAvatarsToAlbum"></ion-toggle>
                              </ion-item>
                        </ion-list>
                  </ion-card>
                  <ion-card *ngIf="configuration">
                        <ion-list>
                              <ion-list-header>Destructive</ion-list-header>
                              <ion-item>
                                    <ion-label>Clear Contact on Save</ion-label>
                                    <ion-toggle (tap)="saveConfig()" [(ngModel)]="configuration.clearContactOnSave"></ion-toggle>
                              </ion-item>
                              <ion-item>
                                    <ion-label>Delete Contact on Add</ion-label>
                                    <ion-toggle (tap)="saveConfig()" [(ngModel)]="configuration.deleteContactOnAdd"></ion-toggle>
                              </ion-item>
                        </ion-list>
                  </ion-card>
                  <ion-card *ngIf="configuration">
                        <ion-list [(ngModel)]="configuration.sortBy" radio-group>
                              <ion-list-header>Sort by</ion-list-header>
                              <ion-item>
                                    <ion-label>Date Created</ion-label>
                                    <ion-radio (tap)="saveConfig();sort(null, 'dateCreated')" value="dateCreated"></ion-radio>
                              </ion-item>
                              <ion-item>
                                    <ion-label>First Name</ion-label>
                                    <ion-radio (tap)="saveConfig();sort(null, 'firstName')" value="firstName"></ion-radio>
                              </ion-item>
                              <ion-item>
                                    <ion-label>Last Name</ion-label>
                                    <ion-radio (tap)="saveConfig();sort(null, 'lastName')" value="lastName"></ion-radio>
                              </ion-item>
                              <ion-item>
                                    <ion-label>Phone Number</ion-label>
                                    <ion-radio (tap)="saveConfig();sort(null, 'phoneNumber')" value="phoneNumber"></ion-radio>
                              </ion-item>
                              <ion-item>
                                    <ion-label>Email Address</ion-label>
                                    <ion-radio (tap)="saveConfig();sort(null, 'emailAddress')" value="emailAddress"></ion-radio>
                              </ion-item>
                        </ion-list>
                  </ion-card>
                  <ion-card *ngIf="token">
                        <ion-list>
                              <ion-list-header>Development</ion-list-header>
                              <ion-item>
                                    <ion-label>{{optionToken ? 'Tap to Copy Token' : 'Show Token'}}</ion-label>
                                    <ion-toggle [(ngModel)]="optionToken"></ion-toggle>
                              </ion-item>
                              <ion-item (tap)="copyToken()" *ngIf="optionToken">
                                    <ion-textarea rows="5" placeholder="{{token}}" type="text" readonly="true">{{token}}</ion-textarea>
                              </ion-item>
                        </ion-list>
                  </ion-card>
                  <ion-label *ngIf="version" color="primary">{{version}}</ion-label>
                  <div class="padding"></div>
            </ion-content>
      </ion-slide>
      <ion-slide>
            <ion-content fullscreen padding-top padding-bottom text-center>
                  <livecard
                        [first_name] = "first_name"
                        [last_name] = "last_name"
                        [picture] = "picture"
                        [company] = "company"
                        [email] = "email"
                        [phone] = "phone"
                        [notes] = "notes"
                  ></livecard>
                  <ion-card *ngIf="text" text-left>
                        <ion-card-header>
                              Logger
                        </ion-card-header>
                        <ion-card-content>
                              {{text}}
                        </ion-card-content>
                  </ion-card>
                  <div class="padding"></div>
            </ion-content>
      </ion-slide>
      <ion-slide>
            <ion-content fullscreen padding-top padding-bottom text-center>
                  <ion-card *ngIf="stored && stored.length > 0">
                        <ion-list-header>Contacts</ion-list-header>
                  </ion-card>
                  <ion-card *ngIf="stored && stored.length == 0">
                        <ion-list-header><ion-label color="primary">No Created Contacts</ion-label></ion-list-header>
                  </ion-card>
                  <editablecard *ngFor="let str of stored"
                        [id] = "str.id"
                        [first_name] = "str.first_name"
                        [last_name] = "str.last_name"
                        [picture] = "str.picture"
                        [company] = "str.company"
                        [email] = "str.email"
                        [phone] = "str.phone"
                        [notes] = "str.notes"
                  ></editablecard>
                  <button *ngIf="stored?.length > 0" (tap)="deleteAll()" ion-button padding outline round color="primary">Delete All Contacts</button>
                  <div class="padding"></div>
            </ion-content>
      </ion-slide>
</ion-slides>
<ion-footer padding text-center no-border>
      <ion-toolbar transparent>
            <ion-buttons *ngIf="slide == LIVE_SLIDE" start>
                  <button (tap)="slideTo(MENU_SLIDE)" ion-button left padding><ion-icon name="settings"></ion-icon></button>
            </ion-buttons>
            <ion-buttons *ngIf="slide >= EDIT_SLIDE" start>
                  <button (tap)="slideTo(LIVE_SLIDE)" ion-button left padding><ion-icon name="arrow-back"></ion-icon></button>
            </ion-buttons>
            <ion-title *ngIf="isAndroid && slide == LIVE_SLIDE"><arigatobutton text-center (tap)="beginSpeech()"></arigatobutton></ion-title>
            <ion-title *ngIf="!isAndroid && slide == LIVE_SLIDE"><arigatobutton text-center (touchstart)="beginSpeech()" (touchend)="endSpeech()"></arigatobutton></ion-title>
            <ion-buttons *ngIf="slide <= MENU_SLIDE" end>
                  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
                  <button (tap)="slideTo(LIVE_SLIDE)" ion-button right padding><ion-icon name="arrow-forward"></ion-icon></button>
            </ion-buttons>
            <ion-buttons *ngIf="slide == LIVE_SLIDE" end>
                  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
                  <button (tap)="slideTo(EDIT_SLIDE)" *ngIf="!loading" ion-button right padding><ion-icon name="arrow-forward"></ion-icon></button>
            </ion-buttons>
      </ion-toolbar>
</ion-footer>
