<ion-content no-padding text-center>
      <livecard
            [first_name] = "first_name"
            [last_name] = "last_name"
            [picture] = "picture"
            [company] = "company"
            [email] = "email"
            [phone] = "phone"
            [notes] = "notes"
      ></livecard>
      <ion-card text-left>
            <ion-card-header>
                  Logger
            </ion-card-header>
            <ion-card-content *ngIf="text">
                  {{text}}
            </ion-card-content>
      </ion-card>
</ion-content>
<ion-footer padding text-center no-border>
      <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
      <ion-toolbar>
            <ion-title><arigatobutton text-center (touchstart)="beginSpeech()" (touchend)="endSpeech()"></arigatobutton></ion-title>
            <ion-buttons end>
                  <button ion-button right><ion-icon name="arrow-forward"></ion-icon></button>
            </ion-buttons>
      </ion-toolbar>
</ion-footer>
